body{
    font-family: PT Serif;
    color: #4db6ac;
    background-image: url("img/pointer_background.jpg");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h1{
    font-weight: normal;
    margin: 10px auto;
    text-align: center;
}
/* label color */
.input-field label {
    color: #fb8c00;
}
/* helper text */
.input-field span[class="helper-text"] {
    color: #fb8c00;
}
